@import 'modules/variables';
@import 'modules/navbar';
@import 'modules/footer';
@import 'modules/body';
@import 'modules/overlay';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1 {
    font-family: $header;
    font-size: 60px;
    margin-bottom: 10px;
}

h2 {
    font-family: $mainfont;
    font-size: 40px;
    margin-bottom: 10px;
}
p {
    font-family: $mainfont;
    font-size: 16px;
    margin-bottom: 10px;
}